/* Estilos generales */
body.dark-theme {
    background-color: #222;
    color: #fff;
}
 
header,
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
 
nav ul li a {
    color: #fff;
}
 
section {
    padding: 20px;
}
 
.project {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
 
.project h3 {
    margin-top: 0;
}
 
a {
    color: #007bff;
    text-decoration: none;
}
 
a:hover {
    text-decoration: underline;
}
 
.social-icons img {
    width: 40px;
    margin: 0 5px;
}
 
.img-medium {
    max-width: 100%;
    margin: auto;
}
 
.fontTitle {
    font-size: xxx-large;
    background-color: gray;
    font-style: italic;
}